@import url('//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css');
/* <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> */

html, body {
		overflow-x: hidden;
		width: 100%;
		/*height: 100%;*/
		margin: 0;
		padding:0;
		background-image: url("images/myweb_background.png");
		background-repeat: no-repeat;
		background-size: cover;
}

#mylogo{
	position: relative;
	width: 90px; 
	height: 60px;
	display: block;	
	margin: auto;
	float: initial;
	vertical-align: middle;
	text-align: center;
	
}
#animated_div {
	width: 100px;/*76px;*/
	height: 60px;/*47px;*/
	/*background: url("images/my_logo.png");*/
	background: #92B901;
	color: #ffffff;
	position: relative;
	font-weight: bold;
	font-size: 20px;
	/*padding: 10px;*/
	animation: animated_div 5s 1;
	-moz-animation: animated_div 5s 1;
	-webkit-animation: animated_div 5s 1;
	-o-animation: animated_div 5s 1;
	border-radius: 5px;
	-webkit-border-radius: 5px;
}
::before, ::after {
    box-sizing: inherit;
}
@keyframes animated_div {
0% {
    transform: rotate(0deg);
    right: 0px;
}
25% {
    transform: rotate(20deg);
    right: 0px;
}
50% {
    transform: rotate(0deg);
    right: 300px;
}
55% {
    transform: rotate(0deg);
    right: 300px;
}
70% {
    transform: rotate(0deg);
    right: 300px;
    background: #1ec7e6;
}
100% {
    transform: rotate(-360deg);
    right: 0px;
}
}
@keyframes animated_div {
0% {
    -webkit-transform: rotate(0deg);
    right: 0px;
}
25% {
    -webkit-transform: rotate(20deg);
    right: 0px;
}
50% {
    -webkit-transform: rotate(0deg);
    right: 300px;
}
55% {
    -webkit-transform: rotate(0deg);
    right: 300px;
}
70% {
    -webkit-transform: rotate(0deg);
    right: 300px;
    background: #1ec7e6;
}
100% {
    -webkit-transform: rotate(-360deg);
    right: 0px;
}
}
@keyframes animated_div {
0% {
    -moz-transform: rotate(0deg);
    right: 0px;
}
25% {
    -moz-transform: rotate(20deg);
    right: 0px;
}
50% {
    -moz-transform: rotate(0deg);
    right: 300px;
}
55% {
    -moz-transform: rotate(0deg);
    right: 300px;
}
70% {
    -moz-transform: rotate(0deg);
    right: 300px;
    background: #1ec7e6;
}
100% {
    -moz-transform: rotate(-360deg);
    right: 0px;
}
}

.text{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	font-size: normal;
	font-weight: bold;
	color: white;
}
.css-references-slideshow{
  position: relative;
  max-width: 495px;
  height: 370px;
  margin: 5em auto .5em auto;
}
.css-references-slideshow figure{
  margin: 0;
  max-width: 495px;
  height: 370px;
  background: #000;
  position: absolute;
}
.css-references-slideshow img{
  box-shadow: 0 0 2px #666;
}
.css-references-slideshow figcaption{
  position: absolute;
  top: 0;
  color: #fff;
  background: rgba(0,0,0, .3);
  font-size: .8em;
  padding: 8px 12px;
  opacity: 0;
  transition: opacity .5s;
}
.css-references-slideshow:hover figure figcaption{
  transition: opacity .5s;
  opacity: 1;
}
.css-references-slideshow-attr{
  max-width: 495px;
  text-align: right;
  font-size: .7em;
  font-style: italic;
  margin:0 auto;
}
.css-references-slideshow-attr a{
  color: #666;
}
.css-references-slideshow figure{
  opacity:0;
}
figure:nth-child(1) {
  animation: xfade 48s 42s infinite;
}
figure:nth-child(2) {
  animation: xfade 48s 36s infinite;
}
figure:nth-child(3) {
  animation: xfade 48s 30s infinite;
}
figure:nth-child(4) {
  animation: xfade 48s 24s infinite;
}
figure:nth-child(5) {
  animation: xfade 48s 18s infinite;
}
figure:nth-child(6) {
  animation: xfade 48s 12s infinite;
}
figure:nth-child(7) {
  animation: xfade 48s 6s infinite;
}
figure:nth-child(8) {
  animation: xfade 48s 0s infinite;
}

@keyframes xfade{
  0%{
    opacity: 1;
  }
  10.5% {
    opacity: 1;
  }
  12.5%{
    opacity: 0;
  }
  98% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Facebook Like/megosztás gomb pozícionálása */
.fb-like{
		text-align: center;
		padding-top: 11px;
}

/* Média gombok, és hover animációik: */
.hide-text{
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

.ease-all{
	-webkit-transition: all 400ms ease-in-out;
	-moz-transition: all 400ms ease-in-out;
	-o-transition: all 400ms ease-in-out;
	-ms-transition: all 400ms ease-in-out;
	transition: all 400ms ease-in-out;
}

/* Szociál Ikonok */

.social{
  height: 1rem;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}


.social td a{
	display: inline-block;
	float: left;
	width: 30px;
	height: 24px;
	margin-right: 5px;
	text-align: center;
	padding-top: 6px;
	
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	-o-border-radius:20px;
	-ms-border-radius:20px;
	border-radius:20px;
	
	/*background-color: #222;*/
	-webkit-box-shadow: inset 0 0 0 40px #222;
	-moz-box-shadow: inset 0 0 0 40px #222;
	-o-box-shadow: inset 0 0 0 40px #222;
	-ms-box-shadow: inset 0 0 0 40px #222;
	box-shadow: inset 0 0 0 40px #222;
	
	color: #fff;
}

.social td a:hover{
	-webkit-box-shadow: inset 0 0 0 3px #222;
	-moz-box-shadow: inset 0 0 0 3px #222;
	-o-box-shadow: inset 0 0 0 3px #222;
	-ms-box-shadow: inset 0 0 0 3px #222;
	box-shadow: inset 0 0 0 3px #222;
	
	color: #222;
}

.chip {
    display: inline-block;
    padding: 0 25px;
    height: 40px;
    font-size: 16px;
    line-height: 40px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.chip img {
    float: left;
    margin: -4px 6px 0 -25px;
    height: 50px;
    width: 51px;
    border-radius: 50%;	
}